Package: hamonikr-artwork
Version: 1.0.0
Architecture: all
Maintainer: Kevin Kim <root@hamonikr.org>
Installed-Size: 48670
Depends: mint-backgrounds-tara, mint-themes, mint-x-icons, mint-y-icons
Conflicts: ldm-mint-theme, mint-artwork-cinnamon, mint-artwork-common, mint-artwork-debian, mint-artwork-debian-cinnamon, mint-artwork-debian-mate, mint-artwork-gnome, mint-artwork-mate, mint-artwork-xfce, mint-backgrounds-xfce
Replaces: ldm-mint-theme, mint-artwork, mint-artwork-cinnamon, mint-artwork-common, mint-artwork-debian, mint-artwork-debian-cinnamon, mint-artwork-debian-mate, mint-artwork-gnome, mint-artwork-mate, mint-artwork-xfce, mint-backgrounds-xfce
Provides: mint-mate-default-settings
Section: gnome
Priority: optional
Description: HamoniKR Artwork and Resources
 HamoniKR Artwork and Resources.
