Source: hamonikr-artwork
Section: gnome
Priority: optional
Maintainer: Kevin Kim <root@hamonikr.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 1.0.0

Package: hamonikr-artwork
Architecture: all
Depends: mint-backgrounds-tara, mint-themes, mint-x-icons, mint-y-icons
Conflicts: mint-artwork-debian, mint-artwork-debian-cinnamon, mint-artwork-debian-mate, mint-artwork-common, mint-artwork-cinnamon, mint-artwork-gnome, mint-artwork-mate, mint-artwork-xfce, mint-backgrounds-xfce, ldm-mint-theme
Replaces: mint-artwork, mint-artwork-debian, mint-artwork-debian-cinnamon, mint-artwork-debian-mate, mint-artwork-common, mint-artwork-cinnamon, mint-artwork-gnome, mint-artwork-mate, mint-artwork-xfce, mint-backgrounds-xfce, ldm-mint-theme
Provides: mint-mate-default-settings
Description: HamoniKR Artwork and Resources
 HamoniKR Artwork and Resources.
